@model VyBillettBestilling.ViewModels.PrisOgBillett

@{
    ViewBag.Title = "Priser og rabatter";
}

<!DOCTYPE html>

<link href="~/Content/Admin.css" rel="stylesheet">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PriserOgPassasjerer</title>
</head>
<body>

    <div class="bg femti ">
        <div class="container">
            <h4>Pris pr km</h4>
            @Html.Partial("Priser", Model.Pris);
            <hr />
            <h4>Rabatter og typenavn</h4>
            @Html.Partial("PassasjerTyper", Model.Passasjerer);
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".second_div").css({
            'width': ($(".first_div").width() + 'px')
        });
    });
</script>
